<header>
    <img src="{{ asset('build/images/logo.png') }}" alt="Logo de MusicOne">

    <aside>
        <a href="#">Connexion</a>
        <a href="#">Inscription</a>
    </aside>

    <nav>
        <ul>
            <li>
                <a href="#">
                    Nos événements
                </a>
            </li>
            <li>
                <a href="#">
                    Créer un événément
                </a>
            </li>
            <li>
                <a href="#">
                    Contact
                </a>
            </li>
        </ul>
    </nav>
</header>