<header>
    <img src="{{ asset('build/images/logo.png') }}" alt="Logo de MusicOne">

    <nav>
        <ul>
            <li>
                <a href="{{ path('event_index') }}">
                    Nos événements
                </a>
            </li>
            <li>
                <a href="{{ path('event_new') }}">
                    Créer un événément
                </a>
            </li>
            <li>
                <a href="{{ path('main_contact') }}">
                    Contact
                </a>
            </li>
        </ul>
    </nav>

    <aside>
        <a href="#">Connexion</a>
        <a href="#">Inscription</a>
    </aside>
</header>