{% extends 'base.html.twig' %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}
    Bonjour

    {% if isEvent %}    
        <h1>Evenement du jour</h1>
        <h4>{{ mainEvent.name }}</h4>

        <h1>Prochain évenement</h1>
        <h4>{{ nextEvent.name }}</h4>
    {% endif%}    
    
{% endblock %}

