@import "base/theme";
@import "base/vendor";
@import "components/base/header";
@import "components/base/footer";
@import "components/base/notification";

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: theme-font('content');
    color: theme-color('light');
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1;
    background-color: theme-color('secondary');
    padding: 20px;

    &.no-padding{
        padding: 0;
    }
}

h1{
    margin-top: 0;
}

a{
    text-decoration: none;
}
