form{
    .form-row{
        display: flex;
        gap: 10px;
        margin-bottom: 20px;

        & > *{
            flex: 1 1 50%;
        }
    }

    input, select, textarea{
        width: 100%;
        border: none;
        padding: 10px;
        font-size: 1rem;
    }

    label{
        display: inline-block;
        width: 100%;
    }
}

input[type="radio"]{
    display: none;

    & + label:before{
        content: "";
        width: 16px;
        height: 16px;
        display: inline-block;
        margin-right: 5px;
        border-radius: 50%;
        border: 2px solid theme-color('tertiary');
        cursor: pointer;
    }

    &:checked + label:before{
        background-color: theme-color('tertiary');
    }
}

input[type="checkbox"]{
    display: none;

    & + label:before{
        content: "";
        width: 16px;
        height: 16px;
        display: inline-block;
        margin: 5px 5px 5px 0;
        border: 2px solid theme-color('tertiary');
        cursor: pointer;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        padding: 5px;
        vertical-align: middle;
    }

    &:checked + label:before{
        content: "\f00c";
    }
}

.form-errors{
    list-style-type: none;
    padding: 0;
    margin: 5px;

    li{
        border-left: 3px solid theme-color('error');
        padding-left: 3px;
    }
}

.money-widget{
    display: flex;
    align-items: stretch;

    i{
        background-color: theme-color('tertiary');
        padding: 5px 20px;
        display: flex;
        align-items: center;
    }
}