@import "../../base/theme";

@import "../../components/form";
@import "../../components/button";

.picture-preview{
    margin: 10px;

    img{
        max-width: 300px;
        max-height: 300px;
    }
}